#SECRET_KEY=change-me  # docker will take care of this
#SECRET_VALIDATION_KEY=change-me-too  # docker will take care of this
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin
FLASK_ENV=development  # have to set these from docker
MAILGUN_API_KEY=some-api  # have to set these from docker
MAILGUN_DOMAIN_NAME=mailgun-domain-name  # have to set these from docker