[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-basicauth = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restx = "*"
requests = "*"

[requires]
python_version = "3.8"
