<html>
    <head>
        {% if title %}
        <title>{{ title }} - Ortus</title>
        {% else %}
        <title>Ortus</title>
        {% endif %}
    </head>
    <body>
        <div>
            Ortus:
            <a href="/index">Home</a>
            <div style="float: right">
            {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
            {% else %}
            {{ current_user.username }} <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>